<div>
  <button nbButton shape="semi-round" outline status="primary" (click)="routeBack()">
    <nb-icon icon="arrow-back"></nb-icon>Back
  </button>
</div>
<div *ngIf="loading" class="w-100 h-100" [nbSpinner]="loading" nbSpinnerSize="large" nbSpinnerStatus="primary">

</div>
<nb-tabset *ngIf="!loading" fullWidth>
  <nb-tab tabTitle="General">
    <div class="row">
      <div class="col-md-12" *ngIf="house.name">
        <info-card title="Name" [info]="house.name">
          <nb-icon class="w-100 h-100" icon="arrow-circle-right-outline"></nb-icon>
        </info-card>
      </div>
      <div class="col-md-12" *ngIf="house.region">
        <info-card title="Region" [info]="house.region">
          <nb-icon class="w-100 h-100" icon="arrow-circle-right-outline"></nb-icon>
        </info-card>
      </div>
      <div class="col-md-12" *ngIf="house.coatOfArms">
        <info-card title="Coat of arms" [info]="house.coatOfArms">
          <nb-icon class="w-100 h-100" icon="arrow-circle-right-outline"></nb-icon>
        </info-card>
      </div>
      <div class="col-md-12" *ngIf="house.words">
        <info-card title="Words" [info]="house.words">
          <nb-icon class="w-100 h-100" icon="arrow-circle-right-outline"></nb-icon>
        </info-card>
      </div>
      <div class="col-md-12" *ngIf="house.titles[0] !== ''">
        <info-card title=" Titles" [items]="house.titles">
          <nb-icon class="w-100 h-100" icon="arrowhead-down-outline"></nb-icon>
        </info-card>
      </div>
      <div class="col-md-12" *ngIf="house.seats[0] !== ''">
        <info-card title="Seats" [items]="house.seats">
          <nb-icon class="w-100 h-100" icon="arrowhead-down-outline"></nb-icon>
        </info-card>
      </div>
      <div class="col-md-12" *ngIf="house.founded">
        <info-card title="Founded" [info]="house.founded">
          <nb-icon class="w-100 h-100" icon="arrow-circle-right-outline"></nb-icon>
        </info-card>
      </div>
      <div class="col-md-12" *ngIf="house.diedOut">
        <info-card title="Died Out" [info]="house.diedOut">
          <nb-icon class="w-100 h-100" icon="arrow-circle-right-outline"></nb-icon>
        </info-card>
      </div>
      <div class="col-md-12" *ngIf="house.ancestralWeapons[0]!==''">
        <info-card title="Ancestral Weapons" [items]="house.ancestralWeapons">
          <nb-icon class="w-100 h-100" icon="arrowhead-down-outline"></nb-icon>
        </info-card>
      </div>
      <div class="col-md-12" *ngIf="house.cadetBranches[0] !== ''">
        <info-card title="Cadet Branches" [items]="house.cadetBranches">
          <nb-icon class="w-100 h-100" icon="arrowhead-down-outline"></nb-icon>
        </info-card>
      </div>
    </div>
  </nb-tab>
  <nb-tab tabTitle="Persons">
    <div class="col-md-12" *ngIf="house.currentLord">
      <info-card title="Current Lord" [info]="currentLord">
        <nb-icon class="w-100 h-100" icon="arrow-circle-right-outline"></nb-icon>
      </info-card>
    </div>
    <div class="col-md-12" *ngIf="founder">
      <info-card title="Founder" [info]="founder">
        <nb-icon class="w-100 h-100" icon="arrow-circle-right-outline"></nb-icon>
      </info-card>
    </div>
    <div class="col-md-12" *ngIf="heir">
      <info-card title="Heir" [info]="heir">
        <nb-icon class="w-100 h-100" icon="arrow-circle-right-outline"></nb-icon>
      </info-card>
    </div>
    <div class="col-md-12" *ngIf="overLord">
      <info-card title="Overlord" [info]="overLord">
        <nb-icon class="w-100 h-100" icon="arrow-circle-right-outline"></nb-icon>
      </info-card>
    </div>
    <div class="col-md-12" *ngIf="swornMembers[0] !== ''">
      <info-card title="Sworn members" [items]="swornMembers">
        <nb-icon class="w-100 h-100" icon="arrowhead-down-outline"></nb-icon>
      </info-card>
    </div>
  </nb-tab>
</nb-tabset>
