<div>
  <button nbButton shape="semi-round" outline status="primary" (click)="routeBack()">
    <nb-icon icon="arrow-back"></nb-icon>Back
  </button>
</div>

<div *ngIf="loading" class="w-100 h-100" [nbSpinner]="loading" nbSpinnerSize="large" nbSpinnerStatus="primary">

</div>

<nb-tabset fullWidth *ngIf="!loading">
  <nb-tab tabTitle="General">
    <div class="row">
      <div class="col-md-12" *ngIf="book.name">
        <info-card title="Name" [info]="book.name">
          <nb-icon class="w-100 h-100" icon="arrow-circle-right-outline"></nb-icon>
        </info-card>
      </div>
      <div class="col-md-12" *ngIf="book.isbn">
        <info-card title="Isbn" [info]="book.isbn">
          <nb-icon class="w-100 h-100" icon="arrow-circle-right-outline"></nb-icon>
        </info-card>
      </div>
      <div class="col-md-12" *ngIf="book.numberOfPages">
        <info-card title="Number of Pages" [info]="book.numberOfPages">
          <nb-icon class="w-100 h-100" icon="arrow-circle-right-outline"></nb-icon>
        </info-card>
      </div>
      <div class="col-md-12" *ngIf="book.publisher">
        <info-card title="Publisher" [info]="book.publisher">
          <nb-icon class="w-100 h-100" icon="arrow-circle-right-outline"></nb-icon>
        </info-card>
      </div>
      <div class="col-md-12" *ngIf="book.country">
        <info-card title="Country" [info]="book.country">
          <nb-icon class="w-100 h-100" icon="arrow-circle-right-outline"></nb-icon>
        </info-card>
      </div>
      <div class="col-md-12" *ngIf="book.mediaType">
        <info-card title="Media type" [info]="book.mediaType">
          <nb-icon class="w-100 h-100" icon="arrow-circle-right-outline"></nb-icon>
        </info-card>
      </div>
      <div class="col-md-12" *ngIf="book.released">
        <info-card title="Released" [info]="book.released.toString()">
          <nb-icon class="w-100 h-100" icon="arrow-circle-right-outline"></nb-icon>
        </info-card>
      </div>
      <div class="col-md-12" *ngIf="book.authors[0] !== ''">
        <info-card title="Authors" [items]="book.authors">
          <nb-icon class="w-100 h-100" icon="arrowhead-down-outline"></nb-icon>
        </info-card>
      </div>
    </div>
  </nb-tab>
  <nb-tab tabTitle="Content">
    <div class="col-md-12" *ngIf="characters.length > 0 && characters[0] !== ''">
      <info-card title="Characters" [items]="characters">
        <nb-icon class="w-100 h-100" icon="arrowhead-down-outline"></nb-icon>
      </info-card>
    </div>
    <div class="col-md-12" *ngIf="povCharacters.length > 0 && povCharacters[0] !== ''">
      <info-card title="POV Books" [items]="povCharacters">
        <nb-icon class="w-100 h-100" icon="arrowhead-down-outline"></nb-icon>
      </info-card>
    </div>

  </nb-tab>
</nb-tabset>
