.wrapper {

  max-width: 80vw;
  position: relative;

  .item {
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
    justify-content: flex-start;
    margin: 1em 0;
    width: 90%;

    .item-key {
      margin-right: 2em;
    }
  }
}
