<div>
  <button nbButton shape="semi-round" outline status="primary" (click)="routeBack()">
    <nb-icon icon="arrow-back"></nb-icon>Back
  </button>
</div>
<nb-tabset fullWidth>
  <nb-tab tabTitle="General">
    <div class="row">
      <div class="col-md-12" *ngIf="character.name">
        <info-card title="Name" [info]="character.name">
          <nb-icon class="w-100 h-100" icon="arrow-circle-right-outline"></nb-icon>
        </info-card>
      </div>
      <div class="col-md-12" *ngIf="character.gender">
        <info-card title=" Gender" [info]="character.gender">
          <nb-icon class="w-100 h-100" icon="arrow-circle-right-outline"></nb-icon>
        </info-card>
      </div>
      <div class="col-md-12" *ngIf="character.born">
        <info-card title="Born" [info]="character.born">
          <nb-icon class="w-100 h-100" icon="arrow-circle-right-outline"></nb-icon>
        </info-card>
      </div>
      <div class="col-md-12" *ngIf="character.died">
        <info-card title="Died" [info]="character.died">
          <nb-icon class="w-100 h-100" icon="arrow-circle-right-outline"></nb-icon>
        </info-card>
      </div>
      <div class="col-md-12" *ngIf="character.aliases[0] !== ''">
        <info-card title="Aliases" [items]="character.aliases">
          <nb-icon class="w-100 h-100" icon="arrowhead-down-outline"></nb-icon>
        </info-card>
      </div>
      <div class="col-md-12" *ngIf="books[0] !== ''">
        <info-card title="Books" [items]="books">
          <nb-icon icon="arrowhead-down-outline"></nb-icon>
        </info-card>
      </div>
      <div class="col-md-12" *ngIf="character.povBooks[0] !== ''">
        <info-card title="POV Books" [items]="character.povBooks">
          <nb-icon class="w-100 h-100" icon="arrowhead-down-outline"></nb-icon>
        </info-card>
      </div>
      <div class="col-md-12" *ngIf="character.playedBy">
        <info-card title="Played By" [items]="character.playedBy">
          <nb-icon class="w-100 h-100" icon="arrowhead-down-outline"></nb-icon>
        </info-card>
      </div>
    </div>
  </nb-tab>
  <nb-tab tabTitle="Family">
    <div class="row">
      <div class="col-md-12" *ngIf="father">
        <info-card title="Father" [info]="father">
          <nb-icon class="w-100 h-100" icon="arrow-circle-right-outline"></nb-icon>
        </info-card>
      </div>
      <div class="col-md-12" *ngIf="mother">
        <info-card title="Mother" [info]="mother">
          <nb-icon class="w-100 h-100" icon="arrow-circle-right-outline"></nb-icon>
        </info-card>
      </div>
      <div class="col-md-12" *ngIf="spouse">
        <info-card title="Spouse" [info]="spouse">
          <nb-icon class="w-100 h-100" icon="arrow-circle-right-outline"></nb-icon>
        </info-card>
      </div>
      <div class="col-md-12" *ngIf="allegiances[0] !== ''">
        <info-card title="Allegiances" [items]="allegiances">
          <nb-icon class="w-100 h-100" icon="arrowhead-down-outline"></nb-icon>
        </info-card>
      </div>
    </div>
  </nb-tab>
</nb-tabset>
