.flex {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}

.center-items {
  align-items: center;
}

.items-right {
  align-items: flex-end;
}

.items-left {
  align-items: flex-start;
}

#form-field {
  width: 100%;
}

.title {
  display: flex;
  justify-content: center;
  margin: 1em 0;

  letter-spacing: 0.2em;

  h4 {
    font-weight: 100 !important;
  }
}
