<!-- SEARCH INPUT FIELD -->
<div class="row">
  <div class="col-md-12">

    <div class="form-wrapper">
      <nb-actions size="giant" fullWidth>
        <nb-action icon="arrow-back" (click)="onUpdateActiveResource('backward')">
        </nb-action>
      </nb-actions>
      <nb-form-field>
        <nb-icon nbPrefix icon="search-outline" pack="eva"></nb-icon>
        <input id="search-input" type="text" nbInput [(ngModel)]="searchInput" name="searchInput" fullWidth
          fieldSize="giant" [placeholder]="'Search for anything in ' + resource">
      </nb-form-field>
      <nb-actions size="giant" fullWidth>
        <nb-action icon="arrow-forward" (click)="onUpdateActiveResource('forward')">
        </nb-action>
      </nb-actions>
    </div>
    <div class="title">
      <h4>{{resource}}</h4>
    </div>

  </div>
</div>

<!-- COMPONENT TO SHOW RESOURCE -->
<div class="col-md-12">
  <div *ngIf="activeResource === StateActiveResource.CHARACTERS">
    <app-characters [searchInput]="searchInput"></app-characters>
  </div>
  <div *ngIf="activeResource === StateActiveResource.HOUSES">
    <app-houses [searchInput]="searchInput"></app-houses>
  </div>
  <div *ngIf="activeResource === StateActiveResource.BOOKS">
    <app-books></app-books>
  </div>
</div>
