<nb-form-field id="form-field">
  <nb-icon nbPrefix icon="search-outline" pack="eva"></nb-icon>
  <input id="search-input" shape="semi-round" fieldSize="giant" type="text" nbInput [(ngModel)]="searchInput"
    name="searchInput" placeholder="Search name">
</nb-form-field>
<div class="filters">
  <input shape="semi-round" nbInput placeholder="From Date" [ngModel]="datepickerFrom" [nbDatepicker]="formcontrol1"
    (ngModelChange)="filterBooks($event, 'from')">
  <nb-datepicker #formcontrol1></nb-datepicker>

  <input shape="semi-round" nbInput placeholder="To Picker" [ngModel]="datepickerTo" [nbDatepicker]="formcontrol2"
    (ngModelChange)="filterBooks($event, 'to')">
  <nb-datepicker #formcontrol2></nb-datepicker>
</div>
<div class="title">
  <h4>BOOKS</h4>
</div>



<div class="books-wrapper">
  <nb-card class="books-list">
    <nb-card-body>
      <nb-list>
        <nb-list-item *ngFor="let book of books | search:searchInput">
          <div class="book-list-item">
            <div class="book-info">
              <nb-user [name]="book.name" title="TITLE" size="large"></nb-user>
            </div>
            <button class="details-btn" nbButton (click)="openDialog(book)">Details</button>
          </div>
        </nb-list-item>
      </nb-list>

    </nb-card-body>
  </nb-card>
